NationalParks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://tempuri.org/XMLSchema.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/XMLSchema.xsd"
    xmlns:mstns="http://tempuri.org/XMLSchema.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
	<xs:element name="NationalParks">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NationalPark" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="Name"/>
							<xs:element type="xs:string" name="Phone" maxOccurs="unbounded"/>
							<xs:element name="Address">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:short" name="Number"/>
										<xs:element type="xs:string" name="Street"/>
										<xs:element type="xs:string" name="City"/>
										<xs:element type="xs:string" name="State"/>
										<xs:element type="xs:string" name="Zip"/>
										<xs:element type="xs:string" name="NearestAirport" minOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element type="xs:float" name="Rating" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
